.profile {
    min-height: 100vh;
    header {
        height: 35vh;
        max-height: 340px;
        min-height: 240px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        .info {
            padding: 1rem;
        }
    }
}
