.profile {
    header {
        min-height: 35vh;
        // max-height: 340px;
        // min-height: 240px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        background-size: cover!important;
        background-position: center!important;
        .info {
            padding: 1rem;
        }
    }
}
.page{
    padding-bottom: 60px;
    box-sizing: border-box;
    min-height: 100vh;
}
