.ol-attribution.ol-uncollapsible {
    opacity: 0.1;
    font-size: xx-small;
}
.ol-control button {
    border-radius: 50%!important;
    background-color:#777!important;
    opacity: 0.5;
}

.ol-control button:hover{
    opacity: 0.8;
}
.ol-control{
 background-color: transparent!important;
}