.container{
    margin:0px auto!important;
    width:100%;
    &.s{
        max-width: 500px;
    }
}
.mxy,._mxy>*{
    margin:1rem;
}
.my,._my>*{
    margin-top:1rem;
}
.sticky{
    position: sticky;
    z-index: 1;
    &.top0{
        top:0;
    }
}
.glass{
    backdrop-filter: blur(10px);
}